/* Variables */
/* Colour Palette */
$primary1:      #000000;
$primary2:		#ffffff;

$secondary1:    #E6E7E8;
$secondary2:    #00DEB4;
$secondary3:    #00BCD4;
$secondary4:    #FF5B00;

/* Typography Devices */
$heroSize:      2rem; // 32px
$subHeroSize:   1rem; // 16px
$headingSize:   1.5rem; // 24px
$secondarySize: 1.5625rem; // 25px
$tertiarySize:  1.5625rem; // 24px
$subtleSize:    1.125rem; // 18px
$bodySize:      1rem; // 16px
